@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background-color: white;
}
header {

    padding: 10px 0;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-container {
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}
nav {
    /*  width: 600px; */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav a, .join-login a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npmLogo {
    width: 60px;
    margin-right: 1rem;
}
.search-bar {
    display: flex;
    align-items: center;
}
.lupa {
    width: 16px;
    margin-right: 0.5rem;
}
.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 7px;
    margin-right: 5px;

}


button {
    padding: 10px 20px;
    border: none;
    background-color: #fb3e44;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.join-login {
    display: flex;
    align-items: center;
}
.join-login a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    font-weight: bold;
}

.join-login a[href="join"] {
    color: white;
    padding: 10px;
    background-color: #fb3e44;
    border-radius: 5px;
}

.join-login a[href="login"] {
    border: 1px solid #fb3e44;
    padding: 10px;
    border-radius: 5px;
}

.amazing-things {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;

}

.amazing-things h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.amazing-things p {
    color: #333;
    margin-bottom: 1em;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-see-plans {
    background-color: #fb3e44;
    button-box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.btn-join-for-free {
    background-color: transparent;
    color: black;
}

.btn:hover {
    opacity: 0.8;
}
.open-source-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 0;
}

.polygon-image {
    width: 200px;
    height: auto;
    margin-top: -50px;
    align-self: center; /
}

.heading-container {
    background-color: rgba(255, 204, 53, .4);
    transform: skew(-9deg, 0deg);
    display: inline-block;
    margin: 20px 0;
}

.heading-container h2 {
    font-style: italic;
    transform: skew(9deg, 0deg);
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    font-size: 2em;
}

.open-source-section p {
    max-width: 800px;
    margin: 20px;
    font-size: 1em;
}

.features-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    text-align: center;
    background-color:#fff;
}

.feature-box {

    padding: 20px;
    max-width: 250px;
    margin-bottom: 20px;
    position: relative;

}
.feature-box img.icon {
    width: 50px;
    height: auto;
    position: absolute;

}
.create-org-btn {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.feature-icon {
    width: 50px;
    height: auto;

}

.feature-title {
    color: #ED1C24; /* Color for the heading text */
    margin-bottom: 15px; /* Space between title and paragraph */
}

.create-org-btn button {
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 20px 200px;
    border: 2px solid black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    cursor: pointer;
    position: relative;
}



